<div class="col-md-12">
 <h2> 如果我的网站对你有帮助，欢迎打赏，谢谢你的支持！</h2>
 <p style="text-align:center;">
  <img src="https://i.screenshot.net/602w9uw" style="width:325px;">
  <img src="https://i.screenshot.net/od0k4a8" style="width:325px;">
 </p>
</div>
