<div class="col-md-12">
 <h2>帮助: </h2>
   <h3><p> 一、搜索(关键字)：</p></h3>
   <h4>
     <p>  1、输入学力名称，比如“初中”，“高中”，“大学”... ... ，可以查找到要求最低学力的有关工作。
     </p>
     <br>
     <p>  2、输入职位名称/类型，比如“销售”，“导购”... ...
     </p>
     <br>
     <p> 3、输入品牌/公司，比如“小米”，“京东”... ...
     </p>
     <br>
     <p> 4、输入工作地点，比如“北京”，“上海”，“广州”... ...




  </p></h4>



</div>
