/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// // 移動 flash 提示訊息的位置
//  .customed-flash {
//    margin: 30px 0px 21px 0px; // 會將 flash 訊息往上移。
//  }
// 实现navbar动态效果（会使用到Javascript)设定navbar预设属性，及变动后的属性
 .navbar-default {
   background: rgba(0,0,0,0.3); //指的是将navbar背景预设为rgb(0,0,0)（黑色）的背景颜色，0.3则为透明度（可设定的值为0~1，0为完全透明、1为不透明）

   &.show_bgcolor {
     background-color: #02061A; //设定的是待会Javascript调用时的设定，此范例将背景设定为深蓝色
   }
 }
// navbar动态效果 end--

// 设定首页滚动按钮属性

 .goTop {
     height: 35px;
     width: 35px;
     top: 80%;
     right: 35px;
     position: fixed;
     background-color: #fff;
     border-radius: 5px;
     box-shadow: 1px 1px 3px #666;

     span {
       color: #000;
       font-size: 20px;
             position: absolute;
       top: 7px;
       left: 8px;
     }
   }

   .goTop:hover {
     background-color: #f0f0f0;

     span{
       color: #eb5424;
     }
   }
   // 设定首页滚动按钮属性 end--

 /*===== user 注册登陆 ====*/
 .user_setup{
     height: 750px;
     background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
 }

 .user_setup_content{
     background: #fff;
     margin-top: 135px;
     padding-top: 20px;
     padding-bottom: 20px;
     box-shadow: 1px 3px 5px #333;
     border: 5px solid #666;
     border-radius: 25px;

     opacity:0.95;
     filter:alpha(opacity=95);

     h2{
       text-align: center;
     }

     .psw{
       float: right;
       margin-top: -33px;
       position: relative;
     }

     .account{
       text-align: center;
     }

     .form-inputs{
       margin-top: 25px;
     }

     .form-actions{
       text-align: center;
       margin-top: 35px;
       margin-bottom: 25px;

       .button{
         color: #fff;
         background-color: #4A6BB5;
         border-color: #4A6BB5;
         font-size: 16px;
         letter-spacing: 1px;
         width: 100%;
       }
       .button:hover{
           background-color: #4A99B5;
           border-color: #4A99B5;
           color: #fff;
       }
     }
 }
 /*===== user 注册登陆 end ====*/



//===给导航栏改变底色和文字色彩
 //---------Navbar---------
 //---给导航栏替换不同的颜色---

.navbar-default {
   background-color: transparent;  //背景颜色
   border-color: #ECEFF1; //边框色
   margin-bottom: 0; //底部 margin 不撑开距离
  }
//---去掉导航栏的圆角---
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0; //圆角为0
    }
 }

//--- Logo 字体颜色和对齐样式---
.navbar-default .navbar-brand {
     color: #4FC3F7; //字体颜色
     padding: 10px 30px; //上下10px，左右30px
     line-height: 30px; //文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #E65100; //鼠标放置在链接上的文字颜色
     background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
 }

//---导航栏链接颜色---
 .navbar-default .navbar-nav > li > a {
     color: #4FC3F7;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #E65100;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #E65100;
     background-color: #4FC3F7;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: transparent; //鼠标点击登陆后的用户背景色彩
     color: #E65100; //鼠标点击登陆后的用户字体色彩
 }

 .navbar-brand > img {
       display: inline-block; //图片和链接文字显示在同一行
       margin-right: 10px; //图片和链接文字拉开一点距离
       margin-top: -3px;
       width: 32px; //定制图片宽度
       height: 32px; //定制图片高度
   }

//=== welcome 大图内容规格设定===
 //---------Box---------
//---整个图片---
 .box {
     background-image: url("http://img02file.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg");
     background-repeat: no-repeat; //背景是否重复
     background-size: cover; //这段代码主要实现了图片不会被拉伸变形的效果
     margin-bottom: 50px; //和底下距离
     }

//---阴影部分---
     .box-inner {
         background-color: rgba(250, 250, 250, 0.39); //背景颜色含透明度
         padding-bottom: 5px;
         margin-top: 150px; //和图片顶部距离
         margin-bottom: 150px; //和图片底下距离
     }

     .title {
         text-align: center; //文字居中
         margin-bottom: 80px;
     }
//---广告口号---
     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 25px;
         top: 12px;
     }

//---首页大图按钮---

.btn-danger {
    background-color: #4FC3F7;//背景颜色
    border-color: #4FC3F7;//边框颜色
}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色
    border-color: #E65100;//鼠标放置在btn上的边框颜色
}

 .btn-lg, .btn-group-lg > .btn {
     padding: 8px 16px;//通过填充来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 5px;//调整文字间距
     border-radius: 10px;//btn圆角
     width: 110px;//这里用指定宽度把btn拉得更长
     margin-bottom:60px; //与阴影底部距离
 }


//===底部图片设定===
 //---------Content---------

//---模式 a ---
 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8; //背影色
}

//---模式 b ---
 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 //---标题设定---
 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }
//---标题下边距离---
 .section-heading {
     margin-bottom: 30px;
 }
//---内容---
 .lead {
     font-size: 18px; //字体大小
     font-weight: 400;
     color: #222;  //字体颜色
     margin-bottom: 60px;
     text-align: center;
 }


 //---------Footer---------

 footer {
     color: white;
 }

 footer .footer-below {
     padding: 25px 0;
     background-color: #4FC3F7;
 }
//---footer 置底代码---
 html {
   height: 100%;
 }
 body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
 }
 .content {
   flex: 1;
 }

//---表格样式--引用方法  <table class="table table-boldered table-striped custab" >

 .custab{
   border: 1px solid #4FC3F7; //边框
   background-color: #FFF9C4;//表条纹颜色
   padding: 5px;
   margin: 5%,0;
   box-shadow: 3px 3px 2px #BBDEFB; //阴影
   transition: 0.5s;
 }
//悬停
 .custab:hover{
   box-shadow: 3px 3px 0px #FFF9C4; //下右框影
   transition: 0.5s;
 }

//search
.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}

.search-id {
  width: 220px;
  height: 50px;
  padding-top: 8px;
  margin-left: 40px;
}

.input-group-btn {
   padding-bottom: 8px;
}

 .form-control {
   height: 33px;
 }
