<p>你好 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>很抱歉通知您，您的电子邮件未经验证！ <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>您的电子邮件已验证成功！ <%= @resource.email %>.</p>
<% end %>
