<!-- footer 顶置方法，在内容content之上 -->
<body>
  <div class="content">
  </div>
  <footer class="footer"></footer>
</body>
    <!-- content -->
<div class="col-md-12">
<footer>
  <div class="footer-below" style="margin-top: 100px;">
      <p class="text-center">Copyright ©2019 聘畅网
          <br>Design by liudezhi
      </p>
  </div>
</footer>
</div>
