<!-- footer 顶置方法，在内容content之上 -->
<body>
  <div class="content">
  </div>
  <footer class="footer"></footer>
</body>
    <!-- content -->

<footer>
  <div class="footer-below">
      <p class="text-center">Copyright ©2019 聘赢网
          <br>Design by liudezhi
      </p>
  </div>
</footer>
