<footer class="text-center"style="margin-top: 100px;">
  <div class="footer-below">
      <p class="text-center">Copyright ©2019 Rails101
          <br>Design by
        <a href="http://logdown.com/dashboard" target=_new>liudezhi</a>
      </p>
  </div>
</footer>
