  <!-- footer 顶置方法，在内容content之上 -->
<body>
  <div class="content">
  </div>
 <footer class="footer"></footer>
</body>
    <!-- content -->
<footer class="text-center"style="margin-top: 100px;">
  <div class="footer-below">
      <p class="text-center">Copyright ©2019-2030 Job_66.6
          <br>Design by
        <a href="https://a-liudezhi.github.io/" target=_new>liudezhi</a>
      </p>
  </div>
 </footer>
     <!-- content end -->
